{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
<body>
    <div class="changepassbox">
        <h1 class="title">Change Password</h1>
        
        <form method="POST" action="/changepassword">
            
            <p>Old Password</p>
            <input type="password" name="old_password">
            
            <p>New Password</p>
            <input type="password" name="new_password">

            <p>Confirm New Password</p>
            <input type="password" name="confirm_password">
            
            <input type="submit" name="" value="Change Password">
        </form>
    </div>      
</body>
{% endblock %}