
{% block title %}
Temporary Registry
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
<body>
    <div">
        <h1>Temporary Registry</h1>
        
        <form method="POST" action="/">
            
            <p>Old Password</p>
            <input type="password" name="old_password">
            
            <p>New Password</p>
            <input type="text" name="new_password">
            
            <input type="submit" name="" value="Login">
        </form>
    </div>      
</body>
{% endblock %}