
{% block title %}
Temporary Registry
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
<body>
    <div">
        <h1>Temporary Registry</h1>
        
        <form method="POST" action="/">
            <p>ID</p>
            <input type="text" name="id">

            <p>Username</p>
            <input type="text" name="username">
            
            <p>Password</p>
            <input type="password" name="password">
            
            <p>First Name</p>
            <input type="text" name="first_name">
            
            <p>Last Name</p>
            <input type="text" name="last_name">
            
            <p>Role</p>
            <input type="text" name="role">
            
            <p>Email</p>
            <input type="text" name="email">
            
            <input type="submit" name="" value="Login">
        </form>
    </div>      
</body>
{% endblock %}