{% block title %}
Sign Up
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
<body>
    <div">
        <h1>Sign Up</h1>
        
        <form method="POST" action="/signup">
            
            <p>ID</p>
            <input type="text" name="id">
            
            <p>Username</p>
            <input type="text" name="username">

            <p>Password</p>
            <input type="password" name="password">

            <p>First name</p>
            <input type="text" name="first_name">

            <p>Last name</p>
            <input type="text" name="last_name">

            <p>Role</p>
            <input type="text" name="role">

            <p>Email</p>
            <input type="email" name="email">
            
            <input type="submit" name="signup" value="Sign Up">
        </form>
    </div>      
</body>
{% endblock %}